extends layout

block vars
  - var title = 'Register'

block content
  h2 Register

  if error
    p ERROR: #{error}

  .form-style-8
    form(method="post")
      input(type="hidden", name="_csrf", value=csrfToken)

      span First Name:
      input(type="text", name="firstName", value=firstName)
      br

      span Last Name:
      input(type="text", name="lastName", value=lastName)
      br

      span Email:
      input(type="email", name="email", value=email)
      br
      
      span Username:
      input(type="text", name="userName", value=userName)
      br

      span Password:
      input(type="password", name="password")
      br

      input(type="submit")