extends layout

block content
  h2.title Register

  if error
    - for (var i=0; i<error.length; i++)
      .error #{error[i]}

  .form-style-8
    form(method="post")
      input(type="hidden", name="_csrf", value=csrfToken)

      span First Name:
      input(type="text", name="firstName", value=firstName)
      br

      span Last Name:
      input(type="text", name="lastName", value=lastName)
      br

      span Email:
      input(type="email", name="email", value=email)
      br
      
      span Username:
      input(type="text", name="userName", value=userName)
      br

      span Password:
      input(type="password", name="password")
      br

      span Confirm Password:
      input(type="password", name="confirmPassword", required=true)
      br

      input(type="submit")
